body{
  margin: 0px;
}

*{
  box-sizing: padding-box;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-attachment: fixed;
}

.pic{
  background-image: url(../gallery/img.jpg);
  background-size: cover;
  filter: opacity(70%);
  width: 55%;
  height: 100vh;
  box-shadow: 0px 0px 27px rgb(0, 0, 0) inset;
}

.container2{
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: baseline;;
  flex-direction: column;
}

.txt{
  width: 80%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.txt p{
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 2px;
  padding: 20px;
}

.learn{
  width: 80%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.learn button{
  width: 150px;
  height: 60px;
  background-color: inherit;
  border-style: none;
  border-radius: 30px;
  border: 2px solid #B4B28D;
}

.learn button:hover{
  background-color: #f08f68;
}

/*Page 2*/
.green{
  width: 100%;
  height: 100vh;
  background-color: rgb(33, 255, 118);
  background-attachment: fixed;
}

.container3{
  background-image: url(../gallery/event.jpg);
  opacity: 0.9;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}




.text{
  width: 80%;
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text h1{
  font-family: 'Quicksand', sans-serif;
  color: rgb(33, 255, 118);
  letter-spacing: 1px;
  font-size: 15px;
}
.text p{
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.font{
  font-size: 30px;
}

.font2{
  line-height: 25px;
  font-size: 15px;
}

.text button{
    width: 180px;
    height: 50px;
    background-color: inherit;
    border-style: none;
    border-radius: 30px;
    border: 1px solid white;
    color: white;
    transition: 0.2s;
}

.text button:hover{
  transition: 0.2s;
  background-color: rgb(33, 255, 118);


}

/*BARRE DE RECHERCHE*/
#searchthis #search-btn {
color: #21FF76;
padding: 5px 7px;
}
#search {
  width: 700px;
  color: #fb351b;
  margin-left: 20px;
  padding: 5px 7px;
}
/*FOOTER*/

footer{
  width: 100%;
  background-color: #000000;
}
.text-footer{
  color: #FFFFFF;
}
.img-sponsor{
  width:120px;
}
table{
  width: 100%;
  border-bottom: solid 1px #FFFFFF;
  padding-bottom: 20px;
}
.inline{
	display: inline-block;
justify-content: space-around;

}
.text-center{
	text-align: center;
}
.display{
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}
a.lien-reseau-social{
	text-decoration: none;
	color: #21FF76;
}
a.lien-reseau-social:hover{
	text-decoration: underline;
	color: #fb351b;
}
.drapeau{
  width: 15px;
}
.margin-reseau-sociaux{
  margin-top: 50px;
}
.margin-langue{
  margin-top: 20px;
}
audio{
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #21FF76;
  z-index: 500;
}
